.chat {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  gap: 2px;

  background-image: url('https://static-cse.canva.com/blob/759807/vk1776.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .messages {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 8px 15px;
  
    .messagesBlock {
      display: flex;
      align-items: end;

      .message {
        display: flex;
        width: fit-content;
        max-width: 100%;
        border-radius: 6px;
        padding: 5px;
        background: var(--secondary-bg-color);
        gap: 10px;
      }
    
      .messageIcon {
        margin-right: 10px;
        width: 35px;
        height: 35px;
      }

      .withoutIcon {
        margin-left: 45px;
      }
    }

    .blockEnd {
      margin-bottom: 5px;
    }
  }

  .chatInput {
    padding: 5px 0;
    background: var(--hover-list-item-background);
  }
}