# Для Node.js (бэкенд и другие Node проекты)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
dist/
build/
*.tgz

# Для фронтенда (например, React, если используете Create React App или аналогичные инструменты)
build/
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
coverage/

# Для контейнеров Docker
# .docker/
# docker-compose.override.yml
# Dockerfile*
# .dockerignore

# Логи
*.log

# Кэш сборки
/.cache/
*.swp
.vscode/
.idea/

# Kubernetes манифесты (если это будет содержать секреты или нерабочие конфигурации)
# *.k8s.yml
# *.k8s.yaml
# *.kubeconfig

# Для IDE
.vscode/
.idea/

# Прочее
# *.env
# *.env.local
# *.env.*.local






# из nest js
# compiled output
# /dist
# /node_modules
# /build

# Logs
# logs
# *.log
# npm-debug.log*
# pnpm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# lerna-debug.log*

# OS
# .DS_Store

# Tests
# /coverage
# /.nyc_output

# IDEs and editors
# /.idea
# .project
# .classpath
# .c9/
# *.launch
# .settings/
# *.sublime-workspace

# IDE - VSCode
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

# dotenv environment variable files
# .env
# .env.development.local
# .env.test.local
# .env.production.local
# .env.local

# temp directory
# .temp
# .tmp

# Runtime data
# pids
# *.pid
# *.seed
# *.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
# report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json