.app.dark {
  --bg-color: #041f0b;
  --secondary-bg-color: #143d3c;
  --inverted-secondary-bg-color: #078f88;

  --primary-color: #c7ffd5;
  --secondary-color: #0b521d;

  --light-apples: #52bfea;
  --hover-list-item-background: #5d76cb;
}