.app_light_theme {
  --bg-color: #c7ffd5;
  --secondary-bg-color: #078f88;
  --inverted-secondary-bg-color: #143d3c;

  --primary-color: #041f0b;
  --secondary-color: #0b521d;

  --light-apples: #52bfea;
  --hover-list-item-background: #dcd7f7;
}